<!DOCTYPE html>
<html>


<head>
    <title>Filter Table</title>
    <link href="../stylesheets/bidstyle.css" rel="stylesheet">
</head>


<body>
    
    <table id="myTable">
        <tr id="HeadRow">
            <td>Oid</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Bid Placed</td>
            <td>Status</td>
        </tr>

        <% for(var i=0; i < bids.length; i++) { %>
            <tr>
                <td><%= bids[i].bid_id %></td>
                <td><%= bids[i].starting %></td>
                <td><%= bids[i].ending %></td>
                <td><%= bids[i].money %></td>
                <td><%= bids[i].status %></td>
            </tr>
        <% } %>


        
    </table>

</body>
</html>
