<!--index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CareTaker Profile</title>
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="stylesheets/ownerprofilestyling.css" rel="stylesheet">
    <script src="javascripts/ownerprofile.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <body>

    <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-filter" data-target="upcoming">Upcoming</button>
                <button type="button" class="btn btn-warning btn-filter" data-target="history">History</button>
            </div>
    </div>
    <div class = "container">
        <div class ="row">
            <table class="table table-filter">
                <caption caption-side= top>Upcoming Tasks</caption>
                    <thead>
                    <tr>
                        <th scope="col">Task ID</th>
                        <th scope="col">Pet Name</th>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Starting</th>
                        <th scope="col">Ending</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i<tasks.length; i++) { %>
                            <tr>
                                <td><%=tasks[i].task_id   %></td>
                                <td><%=tasks[i].petname   %></td>
                                <td><%=tasks[i].ownername %></td>
                                <td><%=tasks[i].starting  %></td>
                                <td><%=tasks[i].ending    %></td>
                            </tr>
                        <% } %>    
                    </tbody>
                </table>
            </div>
    </div>
    <div class = "container">
        <div class ="row">
            <table class="table table-hover">
                <caption caption-side= top>Pending Bids</caption>
                    <thead>
                    <tr>
                        <th scope="col">Bids ID</th>
                        <th scope="col">Pet ID</th>
                        <th scope="col">Owner ID</th>
                        <th scope="col">Service ID</th>
                        <th scope="col">Money</th>
                        <th scope="col">Status</th>
                        <th scope="col">Starting</th>
                        <th scope="col">Ending</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i<bids.length; i++) { %>
                            <tr>
                                <td><%=bids[i].bids_id      %></td>
                                <td><%=bids[i].pet_id       %></td>
                                <td><%=bids[i].owner_id     %></td>
                                <td><%=bids[i].service_id   %></td>
                                <td><%=bids[i].money        %></td>
                                <td><%=bids[i].status       %></td>
                                <td><%=bids[i].starting     %></td>
                                <td><%=bids[i].ending       %></td>
                            </tr>
                        <% } %>    
                    </tbody>
                </table>
            </div>
    </div>

    <div class = "container">
        <div class ="row">
            <table class="table table-hover">
                <caption caption-side= top>Available Services</caption>
                    <thead>
                    <tr>
                        <th scope="col">Service ID</th>
                        <th scope="col">CareTaker ID</th>
                        <th scope="col">Min Wage</th>
                        <th scope="col">Status</th>
                        <th scope="col">Starting</th>
                        <th scope="col">Ending</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i<services.length; i++) { %>
                            <tr>
                                <td><%=services[i].service_id       %></td>
                                <td><%=services[i].caretaker_id     %></td>
                                <td><%=services[i].minwage          %></td>
                                <td><%=services[i].status           %></td>
                                <td><%=services[i].starting         %></td>
                                <td><%=services[i].ending           %></td>
                            </tr>
                        <% } %>    
                    </tbody>
                </table>
            </div>
    </div>

    <div class = "container">
            <div class ="row">
                <table class="table table-hover">
                    <caption caption-side= top>Tasks History</caption>
                        <thead>
                        <tr>
                            <th scope="col">Task ID</th>
                            <th scope="col">Pet Name</th>
                            <th scope="col">Owner Name</th>
                            <th scope="col">Starting</th>
                            <th scope="col">Ending</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i<tasksHistory.length; i++) { %>
                                <tr>
                                    <td><%= tasksHistory[i].task_id  %></td>
                                    <td><%= tasksHistory[i].petname  %></td>
                                    <td><%= tasksHistory[i].ownername%></td>
                                    <td><%= tasksHistory[i].starting %></td>
                                    <td><%= tasksHistory[i].ending   %></td>
                                </tr>
                            <% } %>    
                        </tbody>
                    </table>
                </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>