<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Manager Profile</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="stylesheets/managerprofile.css" rel="stylesheet">

<script src="javascripts/managerprofile.js"></script>

</head>

<!-- Unassigned Requests -->
<body>
    <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Unassigned <b>Requests</b></h2>

                        </div>
                        <!-- previous and next buttons -->
                        <div> 

                        </div>
                        </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Rid</th>
                            <th>Uid</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Message</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i =0 ; i< unassignedRequests.length ; i++) { %>
                            <tr>
                                <td><%=unassignedRequests[i].request_id     %></td>
                                <td><%=unassignedRequests[i].user_id        %></td>
                                <td><%=unassignedRequests[i].status         %></td>
                                <td><%=unassignedRequests[i].created        %></td>
                                <td><%=unassignedRequests[i].message        %></td>
                                <td>
                                    <button type="button" class="btn btn-info assign"><i class="fa fa-plus"></i>Assign</button>
                                </td>
                            </tr>
            
                        <% } %>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12"><h2>My <b>Requests</b></h2> </div>

                    <div class="form-group"> 
                            <label for="usr"><br>Request_id:</label>
                            <input type="number" class ="search" id = "searchID">
                            <label for="usr">Offset:</label>
                            <input type="number" class = "search" id = "offset">
                            <label for="usr">Show:</label>
                            <input type="number" class ="search" id = "limit">
                    </div>
                    
                </div>
                
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Request_id</th>
                        <th>User_id</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i =0 ; i< requests.length ; i++) { %>
                        <tr>
                            <td><%=requests[i].request_id     %></td>
                            <td><%=requests[i].user_id        %></td>
                            <td><%=requests[i].status         %></td>
                            <td><%=requests[i].created        %></td>
                            <td><%=requests[i].message        %></td>
                            <td>
                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            </td>
                        </tr>
        
                    <% } %>

                </tbody>
            </table>
        </div>
    </div>
    <div class="container">

        <h1>Query database</h1>
        <input type="text" class="form-control" name="query"></input>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>                            