<!--index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Owner Profile</title>

    <link href="stylesheets/ownerprofilestyling.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="javascripts/ownerprofile.js"></script>

  </head>
  <body>
        
    <div class="container">
        <div class="row">
    
            <section class="content">
                <h1>My Bids</h1>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success btn-filter" data-target="successful">Successful</button>
                                    <button type="button" class="btn btn-warning btn-filter" data-target="pending">Pending</button>
                                    <button type="button" class="btn btn-danger btn-filter" data-target="cancelled">Cancelled</button>
                                    <button type="button" class="btn btn-default btn-filter" data-target="all">Show All</button>

                                </div>
                            </div>
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                    <% for(var i=0; i < bids.length; i++) { %>
                                        <tr data-status="<%=bids[i].status%>">
                                            <td>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right"><%="Starting date : " + bids[i].starting + "   " + "    Ending Date : " + bids[i].ending%></span>
                                                        <h4 class="title">
                                                            <%="Bid id : " + bids[i].bid_id%>
                                                            <span class="pull-right <%=bids[i].status%>"><%=bids[i].status%></span>
                                                        </h4>
                                                        <p class="summary"><%="Bid Price : " + bids[i].money%></p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

    <div class="container">
            <div class="row">
        
                <section class="content">
                    <h1>My Pets</h1>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-container">
                                    <table class="table table-filter">
                                        <tr>
                                            <td>
                                                Pet ID
                                            </td>   
                                            <td>
                                                Pet Name
                                            </td>
                                            <td>
                                                Pet Biography
                                            </td>
                                            <td>
                                                Pet Type
                                            </td>   
                                            <td>
                                                Pet Born
                                            </td>
                                            <td>
                                                Pet Death
                                            </td>
                                        </tr>
                                        <% for (var i = 0 ; i< pets.length; i++) { %>

                                            <tr>
                                                <td>
                                                    <%= pets[i].pet_id%>
                                                </td>
                                                <td>
                                                    <%= pets[i].name%>
                                                </td>
                                                <td>
                                                    <%= pets[i].biography%>
                                                </td>

                                                <td>
                                                    <%= pets[i].type%>
                                                </td>

                                                <td>
                                                    <%= pets[i].born%>
                                                </td>

                                                <td>
                                                    <%= pets[i].death%>
                                                </td>

                                            </tr>
                                        <% } %>                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
    </div>

    <div class="container">
            <div class="row">
        
                <section class="content">
                    <h1>Task History</h1>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-container">
                                    <table class="table table-filter">
                                            <tr>
                                                    <td>
                                                        Task ID
                                                    </td>   
    
                                                    <td>
                                                        Care Taker ID
                                                    </td>   
                                                    <td>
                                                        Care Taker Name
                                                    </td>
                                                    <td>
                                                        Starting 
                                                    </td>
                                                    <td>
                                                        Ending
                                                    </td>   
                                                    <td>
                                                        Money
                                                    </td>
                                                </tr>
                                                <% for (var i = 0 ; i< tasks.length; i++) { %>
        
                                                    <tr>
                                                        <td>
                                                            <%= tasks[i].task_id%>
                                                        </td>
                                                        <td>
                                                            <%= tasks[i].user_id%>
                                                        </td>
                                                        <td>
                                                            <%= tasks[i].name%>
                                                        </td>
        
                                                        <td>
                                                            <%= tasks[i].starting%>
                                                        </td>
        
                                                        <td>
                                                            <%= tasks[i].ending%>
                                                        </td>
        
                                                        <td>
                                                            <%= tasks[i].money%>
                                                        </td>
        
                                                    </tr>
                                                <% } %>                                    </table>
        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
    </div>

  </body>
</html>