<!--index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Owner Profile</title>

    <link href="stylesheets/ownerprofilestyling.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script>
            var graphData = <%- JSON.stringify(graphDataValues) %>
    </script>
    <script src="javascripts/ownerprofile.js"></script>

  </head>
  <body>
        
    <div class="container">
        <div class="row">
    
            <section class="content">
                <h1>My Bids</h1>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success btn-filter" data-target="2">Successful</button>
                                    <button type="button" class="btn btn-warning btn-filter" data-target="1">Pending</button>
                                    <button type="button" class="btn btn-danger btn-filter" data-target="0">Rejected</button>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="add-btn">
                                    <button type="button" class="btn btn-info add-new-bid"><i class="fa fa-plus"></i> Add New Bid</button>
                                </div>
                            </div>
                            <div class="table-container">
                                <table class="table table-bids">
                                    <thead>
                                        <tr>
                                            <th>bid_id</th>
                                            <th>pid_id</th>
                                            <th>service_id</th>
                                            <th>Caretaker</th>
                                            <th>Offered</th>
                                            <th>Bid Status</th>
                                            <th>Starting</th>
                                            <th>Ending</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i=0; i < bids.length; i++) { %>
                                        <tr data-status="<%=bids[i].status%>">
                                            <td><%=bids[i].bid_id    %></td>
                                            <td><%=bids[i].pet_id    %></td>
                                            <td><%=bids[i].service_id    %></td>
                                            <td><%=bids[i].name    %></td>
                                            <td><%=bids[i].money    %></td>
                                            <td><%=bids[i].status    %></td>
                                            <td><%=bids[i].starting    %></td>
                                            <td><%=bids[i].ending    %></td>
                                            <td>
                                                <a class="add bid" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                <a class="delete bid" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

    <div class="container">
            <div class="row">
        
                <section class="content">
                    <h1>My Pets</h1>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-container">
                                    <div class="pull-left">
                                        <div class="add-btn">
                                            <button type="button" class="btn btn-info add-new-pet"><i class="fa fa-plus"></i> Add New Pet</button>
                                        </div>
                                    </div>

                                    <table class="table table-pets">
                                            <thead>
                                                <tr>
                                                    <th>Pid</th>
                                                    <th>Name</th>
                                                    <th>Bio</th>
                                                    <th>Type</th>
                                                    <th>Born</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% for(var i=0; i < pets.length; i++) { %>
                                                <tr data-status="<%=pets[i].status%>">
                                                    <td><%=pets[i].pet_id    %></td>
                                                    <td><%=pets[i].name    %></td>
                                                    <td><%=pets[i].biography    %></td>
                                                    <td><%=pets[i].type    %></td>
                                                    <td><%=pets[i].born    %></td>
                                                    <td>
                                                        <a class="add pet" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                        <a class="edit pet" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                        <a class="update pet" title="Update" data-toggle="tooltip"><i class="material-icons">add</i></a>
                                                    </td>
                                                </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
    </div>

    <div class="container">
            <div class="row">
        
                <section class="content">
                    <h1>Task History</h1>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-container">
                                    <table class="table table-tasks">
                                            <thead>
                                                <tr>
                                                    <th>Task ID</th>
                                                    <th>Task Status</th>
                                                    <th>Caretaker Name</th>
                                                    <th>Phone# Name</th>
                                                    <th>Starting</th>
                                                    <th>Ending</th>
                                                    <th>Money</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% for(var i=0; i < tasks.length; i++) { %>
                                                <tr data-status="<%=tasks[i].status%>">
                                                    <td><%=tasks[i].task_id    %></td>
                                                    <td><%=tasks[i].status      %></td>
                                                    <td><%=tasks[i].caretakername    %></td>
                                                    <td><%=tasks[i].phone    %></td>
                                                    <td><%=tasks[i].starting    %></td>
                                                    <td><%=tasks[i].ending    %></td>
                                                    <td><%=tasks[i].money    %></td>
                                                </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
    </div>


    <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>